{% extends 'base.html.twig' %}

{% block title %}Fires{% endblock %}

{% block body %}
<section class="container">
    <h1>{{ forestName }}</h1>

    <div class="fires">
            {% for fire in fires %}
                <div class="fire">
                    {% include 'partials/_fire.html.twig' with {fire: fire} only %}
                </div>
            {% endfor %}
    </div>

    <div class="pagination">
        {% if page > 1 %}
            <a class="page-link" href="{{ path('forest_detail', {forestName: forestName|url_encode_with_forward_slash, page: page - 1}) }}">
                Previous
            </a>
        {% endif %}

        <p>Page {{ page }}</p>

        {% if fires is not empty %}
            <a class="page-link" href="{{ path('forest_detail', {forestName: forestName|url_encode_with_forward_slash, page: page + 1}) }}">
                Next
            </a>
        {% endif %}
    </div>
</section>
{% endblock %}
