{% extends 'base.html.twig' %}

{% block title %}Forests{% endblock %}

{% block body %}
<section class="container">
    <div class="forest-list">
        <ul>
            {% for forest in forests %}
                <li>
                    {% include 'partials/_forest.html.twig' with {forest: forest} only %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ path('forest_landing', {page: page - 1}) }}">
                Previous
            </a>
        {% endif %}

        <p>Page {{ page }}</p>

        <a href="{{ path('forest_landing', {page: page + 1}) }}">
            Next
        </a>
    </div>
</section>
{% endblock %}
